.Streamer {
  box-sizing: content-box;
  height: 4rem;
  margin-bottom: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.22), 0 0 0 0.5px rgba(0,0,0,0.15);
  display: flex;
  flex-flow: row nowrap;
  transition: all 80ms 10ms;
}

.Streamer img {
  transition: all 175ms;
}

.streamer-logo {
  flex: 2;
}
.streamer-logo img {
  max-height: 4rem;
}

.streamer-name {
  flex: 10;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.streamer-status {
  flex: 3;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #565656;
  text-align: center;
}

.streamer-option {
  flex: 1;
  background-color: rgba(127, 140, 141,1.0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.streamer-option.active {
  background-color: #196E3D;
}



.streamer-option i {
  display: inline-block;
  font-size: 1.4rem;
  color: #dadada;
}

.streamer-option i.fa-eye-slash {
  opacity: 0.4;
}

.streamer-option i.fa-eye:hover {
  color: #e74c3c;
}

.twitch-add-streamer-form {
  display: flex;
  min-height: 2.5rem;
  margin: 1rem 0;
  align-items: stretch;
}

.twitch-button-add {
  border: none;
  background-color: #e67e22;
  color: #fff;
  letter-spacing: 1px
}

.twitch-input {
  font-size: 1.08rem;
  padding: 0 0.3rem;
  width: 10rem;
  transition: width 225ms;
}

.twitch-input:focus {
  width: 18rem;
}

.twitch-streamer-chip-container {
  display: flex;
  flex-flow: row wrap;
}

.twitch-streamer-chip {
  margin: 0.1rem 0.2rem;
  padding: 0.2rem 0.5rem;
  background: #2980b9;
  color: #fff;
  border-radius: 2rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.twitch-streamer-chip:hover {
 background: #e74c3c;
}

.twitch-streamer-chip span {
  padding: 0 0.2rem;
}

.twitch-streamer-chip i {
  font-size: 0.6rem;
}



@media (max-width: 768px) {
  .streamer-name {
    flex: 4 1;
  }
  .streamer-status {
    flex: 3 1;
    font-size: 1rem;
  }
  .streamer-option {
    flex: 2 1;
  }

}
