.Streamer {
  box-sizing: content-box;
  height: 4rem;
  margin-bottom: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.22), 0 0 0 0.5px rgba(0,0,0,0.15);
  display: flex;
  flex-flow: row nowrap;
  transition: all 80ms 10ms;
}

.Streamer img {
  transition: all 175ms;
}

.Streamer:hover img {
  /*border: 1px solid orangered;
  transform: translateX(-5px);*/
}

.streamer-logo {
  flex: 2;
}
.streamer-logo img {
  max-height: 4rem;
}

.streamer-name {
  flex: 10;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.streamer-status {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #565656;
  text-align: right;
}

.streamer-option {
  flex: 1;
  background-color: #3a3a3a;
  /*border-left: 1px solid #cdcdcd;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.streamer-option i {
  display: inline-block;
  font-size: 1.4rem;
  color: #dadada;
}

.streamer-option i.fa-eye-slash {
  opacity: 0.5;
}

.streamer-option i.fa-eye:hover {
  color: #edffed;
}
