.CalculatorApp {
  width: 300px;
  margin: 0 auto;
}

.Display {
  text-align: right;
  color: #27ae60;
  background-color: #3e3e3e;
}

.Display p {
  margin: 0;
}

.Display__main {
  font-size: 2em;
  line-height: 55px;
  padding: 0 0.8rem;
  overflow: hidden;
  border-bottom: 1px solid #6d6d6d;
}

.Display__calculation {
  height: 30px;
  padding: 5px 0;
  font-size: 1.2em;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.NumberContainer {
  width: calc(300px / 4*3);
  float: left;
}

.OperatorContainer {
  width: calc(300px/4);
  float: left;
  display: flex;
  flex-flow: column;
}

.NumberContainer button, .OperatorContainer button, .OptionContainer button  {
  border: 1px solid #d1d1d1;
  display: block;
  float: left;
  width: calc(300px/4);
  height: 60px;
  font-size: 1.5em;
  background: #7f8c8d;
  color: #fff;
  cursor: pointer;
}

#btn-equal {
  display: block;
  float: right;
  width: 200px;
  height: 80px;
  margin-top: 20px;
  font-size: 4em;
  border: 1px solid #d1d1d1;
  background: #7f8c8d;
  cursor: pointer;
}

.NumberContainer button:hover, .OperatorContainer button:hover, .OptionContainer button:hover, #btn-equal:hover {
  background: #34495e;
}

.NumberContainer button.btn-zero {
  width: calc(300px/2);
}

@media (max-width: 768px) {

}
