.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #efefef;
  color: #212121;
  min-height: 90vh;
}

footer {
  margin-top: 3rem;
  min-height: 3rem;
  background: #7f8c8d;
  opacity: 0.5;
  display: flex;
}

footer p {
  margin: auto;
  text-align: center;
}

h1,h2,h3,h4,h5 {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

h1 {
  margin: 0;
  color: #ecf0f1;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px
}

p {
  margin: 0.4em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Roboto', Helvetica, sans-serif;
}


.App {
  width: 920px;
  margin: 0 auto;
  margin-top: 75px;
}

.Navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  min-height: 60px;
  padding: 0.5rem 0;
}

.QuoteApp, .WeatherApp, .WikiApp, .TwitchApp {
  min-height: 80vh;
  margin-bottom: 5rem;
}

.navbar-home {
  position: absolute;
  height: 60px;
  display: flex;
  align-items: center;
  color: #27ae60;
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-home:hover {
  color:  #f39c12;
}

.navbar-home > * {
  display: block;
}

.navbar-home i {
  padding: 0 0.5rem;
  font-size: 1.85rem;
}

.navbar-title {
  width: 920px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar-title h1 {
  flex:1;
}

h2.app-title {
  text-align: center;
  margin: 0;
  line-height: 5rem;
}

.AppBox {
  position: relative;
  float: left;
  margin: 1%;
  width: calc(92%/3);
  height: 250px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 2px 3px 2px rgba(0,0,0,0.5);
}

.AppBox:hover .app-box-description {
  transform: translateY(0px);
}

.AppBox:hover .app-box-title {
  background-color: rgba(0,0,20,1);
}

.app-box-background {
  position: absolute;
  z-index: 0;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app-box-description {
  position: absolute;
  transform: translateY(-210px);
  z-index: 1;
  height: 210px;
  padding: 30px 20px;
  background: #2980b9;
  color: #fff;
  opacity: 0.95;
  transition: transform 200ms;
}

.app-box-description p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6em;
}

.AppBox .app-box-title {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 40px;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
}

.AppBox .app-box-title h3 {
  color: #ededed;
}

.app-box-title h3 {
  margin: 0;
  line-height: 40px;
}

.info-container {
  text-align: center;
}

.info-container h3 {
  font-size: 1.9rem;
  margin: 0.5em 0;
  color: rgba(0,0,0,0.75);
  font-weight: 300;
}

.info-container i, .info-container span {
  font-size: 2.7rem;
}

.info-container .github-link:hover i {
  color: #c0392b;
}

.info-container > span {
  display: block;
}

.github-link {
  text-align: center;
}


.Heading {
  text-align: center;
}

@media (max-width: 960px) {
  .AppBox {
    margin: 5%;
    width: calc(80%/2);
  }
}


@media (max-width: 768px) {

  .App, .navbar-title, .quote-container, .weather-container, .wiki-container {
    width: 100%;
  }

  .App {
    padding-top: 5rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .navbar-home {
    position: relative;
    justify-content: center;
  }
}

@media (max-width: 580px) {
  .AppBox {
    margin: 5% 10%;
    width: 80%;
  }
  .QuoteApp, .WeatherApp, .WikiApp, .TwitchApp {
    min-height: 60vh;
    margin-bottom: 3rem;
  }
}
